/** CSS DEL GRUP 3**/
.pane{ 
    -fx-background-image: url("loginback.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:cover;
}
.paneMenu{
    -fx-background-image: url("loginback.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
     -fx-background-size:cover;
}
.paneAdmin{
    -fx-background-image: url("loginback.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
     -fx-background-size:cover;
}

.botoLogin{
    -fx-border-radius: 50px;
    -fx-background-color:  rgb(0, 0, 0,0.3 );
    -fx-text-inner-color:white;
}

.menuPrincipal{
    -fx-background-color:  rgb( 255, 255, 255,0.3  );
}

.btnBusca{
    -fx-min-width: 34px;
    -fx-min-height: 26px;
    -fx-max-height: 26px;
    -fx-max-width: 34px;
    -fx-background-image: url("search.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:20 20;
    -fx-background-color:  rgb(0, 0, 0,0.3 );;
}

.btnElimina{
    -fx-min-width: 34px;
    -fx-min-height: 26px;
    -fx-max-height: 26px;
    -fx-max-width: 34px;
    -fx-background-image: url("delete.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:20 20;
    -fx-background-color:  rgb(0, 0, 0,0.3 );;
}

.btnRefresca{
    -fx-min-width: 34px;
    -fx-min-height: 26px;
    -fx-max-height: 28px;
    -fx-max-width: 36px;
    -fx-background-image: url("refresca.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:20 20;
    -fx-background-color:  rgb(0, 0, 0,0.3 );;
}

/*Botons navegació*/
.btnLeft{
    -fx-min-width: 34px;
    -fx-min-height: 26px;
    -fx-max-height: 28px;
    -fx-max-width: 36px;
    -fx-background-image: url("left.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:20 20;
    -fx-background-color:  rgb(0, 0, 0,0.3 );;
}

.btnRight{
    -fx-min-width: 34px;
    -fx-min-height: 26px;
    -fx-max-height: 28px;
    -fx-max-width: 36px;
    -fx-background-image: url("right.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:20 20;
    -fx-background-color:  rgb(0, 0, 0,0.3 );;
}

.btnEnd{
    -fx-min-width: 34px;
    -fx-min-height: 26px;
    -fx-max-height: 28px;
    -fx-max-width: 36px;
    -fx-background-image: url("end.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:20 20;
    -fx-background-color:  rgb(0, 0, 0,0.3 );;
}

.btnFirst{
    -fx-min-width: 34px;
    -fx-min-height: 26px;
    -fx-max-height: 28px;
    -fx-max-width: 36px;
    -fx-background-image: url("first.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:20 20;
    -fx-background-color:  rgb(0, 0, 0,0.3 );;
}

.menu .label{
    -fx-text-fill: black;
}

.btnInfo{
    -fx-min-width: 34px;
    -fx-min-height: 26px;
    -fx-max-height: 28px;
    -fx-max-width: 36px;
    -fx-background-image: url("info.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size:20 20;
    -fx-background-color:  rgb(0, 0, 0,0 );;

}

.btnCreadors{
    -fx-background-color:  rgb(0, 0, 0,0 );;
}


